html, 
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #dfdbdb;
}
#content {
  width: 100%;
}
.header {
  border: 1px solid rgb(128, 58, 0);
  background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.7)), url(../src/images/table_overwiev.jpg);
  background-size:cover;
  background-position: center;
  text-align: center;
  margin-bottom: 0;
}

.current-page {
  color: rgb(206, 128, 39);
  -webkit-text-stroke: .5px black;
  border-radius: 5%;
  text-shadow: 5px 0px 10px rgba(155, 93, 46, 0.68);
  text-decoration: none;
}

h1 {
  color: rgb(206, 128, 39);
	font-size: 60px;
	-webkit-text-stroke: 1.5px black;
  border-radius: 5%;
  text-shadow: 5px 0px 10px rgba(155, 93, 46, 0.68);
}

h2 {
  font-size: 40px;
  margin: 0 auto;
  padding: 20px;
  color: rgb(206, 128, 39);
	-webkit-text-stroke: .5px black;
  border-radius: 5%;
  text-shadow: 1px 0px 1px rgba(155, 93, 46, 0.68);
}

.navbar {
  list-style-type: none;
  min-width: none;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  padding: 15px; 
  background-color: #dfdbdb;
}

li {
  cursor: pointer;
  font-size: 20px;
  text-align: center;
  text-decoration: underline;
  width: 10%;
  padding: 5px;
}

.lowerheader {
  height: 75px;
}

.home-page {
  text-align: center;
  margin: 0 auto;
}

.recipe-page {
  text-align: center;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: space-between;
}

.home-image {
  width: 75%;
  height: auto;
}

.recipe-image {
  width: 300px;
  height: auto;
  border-radius: 15%;
  cursor: pointer;
  margin-bottom: 50px;
}

.intro-container {
  width: 50%;
  margin: 15px auto 15px auto;
  padding: 40px;
}

.recipe {
  display: flex;
  gap: 30px;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

#footer {
  text-align: center;
  color: rgb(206, 128, 39);
	font-size: 20px;
  margin-top: 0 auto;
	-webkit-text-stroke: .5px black;
  text-shadow: 5px 0px 10px rgba(155, 93, 46, 0.68);
  padding: 10px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.7)), url(../src/images/table_overwiev.jpg);
  background-size:cover;
  background-position: bottom;
  position:relative;
  width: 100%;
  bottom: 0;
}

h3 {
  text-align: center;
  color: rgb(206, 128, 39);
	font-size: 20px;
  margin-top: 0 auto;
	-webkit-text-stroke: .5px black;
}

p {
  margin: 0 auto;
  color: rgb(206, 128, 39);
	font-size: 20px;
  -webkit-text-stroke: .25px black;
}