html, 
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#content {
  width: 100%;
}
.header {
  border: 1px solid rgb(128, 58, 0);
  background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.7)), url(../src/images/table_overwiev.jpg);
  background-size:cover;
  background-position: center;
  text-align: center;
}

.current-page {
  color: rgb(206, 128, 39);
  -webkit-text-stroke: .5px black;
  border-radius: 5%;
  text-shadow: 5px 0px 10px rgba(155, 93, 46, 0.68);
  text-decoration: none;
}

h1 {
  color: rgb(206, 128, 39);
	font-size: 60px;
	-webkit-text-stroke: 1.5px black;
  border-radius: 5%;
  text-shadow: 5px 0px 10px rgba(155, 93, 46, 0.68);
}

h2 {
  font-size: 40px;
  color: rgb(206, 128, 39);
	-webkit-text-stroke: .5px black;
  border-radius: 5%;
  text-shadow: 1px 0px 1px rgba(155, 93, 46, 0.68);
}

.navbar {
  list-style-type: none;
  min-width: none;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  padding: 15px; 
  background-color: #b4b0b0;
}

li {
  cursor: pointer;
  font-size: 20px;
  text-align: center;
  text-decoration: underline;
  width: 10%;
  padding: 5px;
}

.lowerheader {
  height: 200px;
}

.home-page {
  text-align: center;
}

.home-image {

}